<h1>Edit task</h1>
<%= form_with model: @task do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <hr>
  <%= form.label :description %>
  <%= form.text_area :description %>
  <hr>
  <%= form.label :status %>
  <%= form.text_field :status %>
  <hr>
  <%= form.label :creator %>
  <%= form.text_field :creator %>
  <hr>
  <%= form.label :performer %>
  <%= form.text_field :performer %>
  <hr>
  <%= form.label :completed %>
  <%= form.check_box :completed %>
  <hr>
  <%= form.submit %>
<% end %>